name: Shared build workflow

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  build-platform-macos:
    uses: ./.github/workflows/shared-build-macos.yml
    with:
      environment: ${{inputs.environment}}
